{{/* FOOTER */}}
<div class="row">
  <div class="columns small-12 medium-10 medium-offset-1">
    <footer>
    <p><a href="/">Konigi</a> is published by <a href="http://michaelangeles.com">Michael Angeles</a> &middot; <a href="/contact">Contact</a> &middot; <a href="http://twitter.com/konigi">Twitter</a> &middot; Screenshots &copy; their respective owners.</p>
    </footer>
  </div>{{/* END COL */}}
</div>{{/* END ROW */}}
{{/* END FOOTER */}}

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/konigi.min.js"></script>

</body>
</html>
