{{/* GNAV */}}
<div class="row">
  <div class="columns small-12 medium-10 medium-offset-1">
    <header>
    <div class="row">
      <div class="columns small-12 medium-1">
        <div id="logo"><a href="/">KONIGI</a></div>
      </div>
      <div id="gnav-container" class="columns small-12 medium-9">
        <ul id="gnav">
          <li id="gnav-blog"><a href="/blog/" title="Blog">Blog</a></li>
          <li id="gnav-interface"><a href="/interface/" title="Interface Showcase">Interfaces</a></li>
          <li id="gnav-tools" class="current"><a href="/tools/" title="Tools">Tools</a></li>
          <li id="gnav-music"><a href="/music/" title="music">Music</a></li>
          <li id="gnav-wiki"><a href="/wiki/" title="Wiki">Wiki</a></li>
          <li id="gnav-search"><a href="/search" title="Search">Search</a></li>
        </ul>
      </div>
    </div>
    </header>
  </div>
</div>
{{/* GNAV */}}
