{{ partial "header.html" . }}
{{ partial "gnav_tools.html" . }}
{{ partial "body_top.html" . }}

{{ if eq .Paginator.PageNumber 1 }}
{{/* BY KONIGI */}}

<p class="intro">I've made a few tools for UI design work over the years. Below are some of the ones that may be useful to UX designers. The less useful ones can be found under the <a href="/tags/extras/"> "Extras" tag.</a> At the bottom of the page are my reviews of UX tools.</p>

<h2 class="post-title">Tools by Konigi</h2>

<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 block-grid">
  <li>
    <a href="/tools/balsamiq-ux-template" rel="bookmark" title="Permanent Link to Balsamiq UX Template">
      Balsamiq UX Template
      <img src="http://media.konigi.com/tools/thumbs/balsamiq-uxtemplate.png" alt="" class="img-responsive" style="border: 1px solid #eee;"/>
    </a>
  </li>
  <li>
    <a href="/tools/graph-paper" rel="bookmark" title="Permanent Link to Graph Paper">
      Graph Paper
      <img src="http://media.konigi.com/tools/graphpaper/png/konigi-wireframe-cyan-thumb.png" alt="" class="img-responsive"/>
    </a>
  </li>
  <li>
    <a href="/tools/omnigraffle-ux-template" rel="bookmark" title="Permanent Link to OmniGraffle UX Template">
      OmniGraffle UX Template
      <img src="http://media.konigi.com/tools/og-ux-template/Persona_Overview-thumb.png" alt="" class="img-responsive" style="border: 1px solid #eee;"/>
    </a>
  </li>
  <li>
    <a href="/tools/omnigraffle-wireframe-stencils" rel="bookmark" title="Permanent Link to OmniGraffle Wireframe Stencils">
      OmniGraffle Wireframe Stencils
      <img src="http://media.konigi.com/tools/og-wireframe-stencil/konigi-wireframe-stencils-thumb.png" alt="" class="img-responsive"/>
    </a>
  </li>
  <li>
    <a href="/tools/schedule-and-cost-summary-calculator" rel="bookmark" title="Permanent Link to Schedule and Cost Summary Calculator">
      Schedule and Cost Summary Calculator
      <img src="http://media.konigi.com/tools/schedule-cost-calculator/schedule-cost-summary-thumb.png" class="img-responsive" alt=""/>
    </a>
  </li>
  <li>
    <a href="/tools/sketchbooks-diy" rel="bookmark" title="Permanent Link to Sketchbooks: DIY Instructions">
      Sketchbooks: DIY Instructions
      <img src="http://media.konigi.com/tools/thumbs/sketchbooks-diy.png" class="img-responsive" alt="">
    </a>
  </li>
  <li>
    <a href="/tools/text-snippets" rel="bookmark" title="Permanent Link to Text Snippets">
      Text Snippets
      <img src="http://media.konigi.com/tools/thumbs/text-snippets-thumb.png" alt="" class="img-responsive"/>
    </a>
  </li>
  <li>
    <a href="/tools/wireframe-magnets-diy-kit" rel="bookmark" title="Permanent Link to Wireframe Magnets (DIY Kit)">
      Wireframe Magnets (DIY Kit)
      <img src="http://media.konigi.com/tools/wireframe-magnets/konigi-wireframe-magnets-forms-thumb.png" alt="" class="img-responsive"/>
    </a>
  </li>
</ul>
<hr>
<h2 class="post-title">Recommended</h2>
{{ end }}
{{/* END BY KONIGI */}}

<section class="article-list">
{{ range .Paginator.Pages }}
  {{ .Render "list-node"}}
{{ end }}
</section>
<section class="pagination-block">
{{ template "_internal/pagination.html" . }}
</section>

{{ partial "body_bottom.html" . }}
{{ partial "footer.html" . }}
