{{ partial "header" . }}
{{ partial "gnav_wiki" . }}
{{ partial "body_top" . }}

<p class="intro">This is my personal wiki, where I keep some definitions of IA/IXD terms frequently referenced on this site, and presentations, and other longer form notes. For corrections and additions, please <a href="/contact">contact me</a>.</p>

<div class="row">
  <div class="columns small-5">

<h3 id="toc0">UX Design Topics</h3>

<ul>
    <li> <a href="accessibility">Accessibility</a></li>
    <li> <a href="anti-patterns">Anti-Patterns</a></li>
    <li> <a href="card-sorting-and-affinity-diagramming">Card Sorting and Affinity Diagramming</a></li>
    <li> <a href="concept-design">Concept Design</a></li>
    <li> <a href="controlled-vocabulary">Controlled Vocabulary</a></li>
    <li> <a href="dark-patterns">Dark Patterns</a></li>
    <li> <a href="definitions-field">Definitions of the field</a></li>
    <li> <a href="deliverables">Deliverables</a></li>
    <li> <a href="design-pattern-repositories">Design Pattern Repositories</a></li>
    <li> <a href="design-patterns">Design Patterns</a></li>
    <li> <a href="discount-usability">Discount Usability</a></li>
    <li> <a href="editorial-style-guides">Editorial Style Guides</a></li>
    <li> <a href="interface-and-interaction-notation">Interface and Interaction Notation</a></li>
    <li> <a href="glossaries">Glossaries</a></li>
    <li> <a href="heuristic-evaluation">Heuristic Evaluation</a></li>
    <li> <a href="information-architecture">Information Architecture</a></li>
    <li> <a href="interaction-design">Interaction Design</a></li>
    <li> <a href="learn-code">Learn to Code</a></li>
    <li> <a href="lorem-ipsum">Lorem Ipsum</a></li>
    <li> <a href="noticeability-evaluation">Noticeability Evaluation</a></li>
    <li> <a href="page-description-diagrams">Page Description Diagrams</a></li>
    <li> <a href="processes">Processes</a></li>
    <li> <a href="prototypes">Prototypes</a></li>
    <li> <a href="storyboards">Storyboards</a></li>
    <li> <a href="usability">Usability</a></li>
    <li> <a href="usability-testing">Usability Testing</a></li>
    <li> <a href="user-experience-design">User Experience Design</a></li>
    <li> <a href="user-interface-style-guides">User Interface Style Guides</a></li>
    <li> <a href="user-interface-guidelines">User Interface Guidelines</a></li>
    <li> <a href="wireframes">Wireframes</a></li>
</ul>

  </div>
  <div class="columns small-5">

<h3 id="toc1">Community Resources</h3>

<ul>
    <li> <a href="conferences-and-events">Conferences and Events</a></li>
    <li> <a href="discussion-groups">Discussion Groups</a></li>
    <li> <a href="jobs">Jobs</a></li>
</ul>


<h3 id="toc2">Journals and Mini Books</h3>
<ul>
    <li> <a href="analog-tools">Analog Tools</a></li>
    <li> <a href="sketch-book">The Sketch Book</a><br>Presentation on sketching user interfaces</li>
    <li> <a href="quotes">Quotes</a><br>Quotations on creativity, design, and product development</li>
    <li> <a href="go-light">Go Light</a><br>Essays on simplifying life</li>
    <li> <a href="mac-apps-easily-distracted-mind">Mac Apps for an Easily Distracted Mind</a><br>A collection of apps I use to remove distraction</li>
</ul>

  </div>
</div>


{{ partial "body_bottom" . }}
{{ partial "footer" . }}
